* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* Navbar */
.navbar {
  background-color: #967e76;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items {
  order: 2;
  display: flex;
}

.navbar-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.navbar-items a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

/* Home */
#home {
  padding: 50px 0;
  background-color: #d7c0ae;
}

.home-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#home h2 {
  font-size: 2.3rem;
}

#home p {
  font-size: 1.2rem;
}

.home-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
}

.home-image img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
  border-radius: 10%;
}

/* Form */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #eee3cb;
}

form {
  background-color: #d7c0ae;
  padding: 20px;
  border-radius: 5px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #967e76;
  color: white;
  cursor: pointer;
  font-weight: 500;
  border: none;
}

/* Menu */
#drink-menu {
  background-color: #d7c0ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.drink-menu-heading {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
}

.drink-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
}

.drink-menu-item {
  display: flex;
  flex: 1 1 600px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.drink-description {
  margin: auto 1.5rem;
}

.drink-description p {
  font-size: 1.4rem;
  color: black;
  font-weight: 500;
}

/* Reviews */
#reviews {
  background-color: #d7c0ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.reviews-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
}

.reviews-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1rem;
}

.reviews-box .reviews-text {
  margin: 2rem 0;
}

.reviews-box {
  text-align: center;
  padding: 2rem;
}

.customer-photo img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: auto;
}

/* Footer */
#footer {
  text-align: center;
  font-size: 1.2rem;
  padding: 2.6rem;
  font-weight: 200;
  background-color: #967e76;
}

#footer ul {
  list-style-type: none;
  text-align: left;
}

#footer h2 {
  text-align: center;
}

#footer p {
  text-align: center;
}

#footer .left-content {
  float: left;
  width: 50%;
}

#footer .right-content {
  float: right;
  width: 30%;
  text-align: right;
}

#footer .right-content p {
  font-weight: 700;
}

#footer .social-media {
  text-align: center;
  margin-top: 1rem;
}

.social-media a {
  color: black;
  text-decoration: none;
}
